
# Created by https://www.gitignore.io/api/linux,macos,windows

### Linux ###
*~

# temporary files which can be created if a process still has a handle open of a deleted file
.fuse_hidden*

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

# .nfs files are created when an open file is removed but is still being accessed
.nfs*

### macOS ###
*.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

### Windows ###
# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk


# End of https://www.gitignore.io/api/linux,macos,windows
node_modules
Common/vim/plugged/
Common/vim/autoload/
Common/vim/vim

Common/nvim/plugin/
Common/nvim/lsp/jdt-language-server/workspace/folder/
Common/vim/netrwhist
system.m4

# Generated
Common/zshrc
Common/bashrc
linux/tmux.conf
linux/qtile/config/config.py
linux/sway/config
linux/sway/autostart
linux/sway/hid
Makefile
config
*.pyc

*.add
*.add.spl
tags
.netrwhist

Common/newsboat/cache.db
Common/newsboat/cache.db.lock
Common/newsboat/history.cmdline
Common/newsboat/urls

bin/pingme
bin/autoclean.sh
